# See http://help.github.com/ignore-files/ for more about ignoring files.

# =========================================

# dependencies
.npm
/node_modules
/bower_components

# compiled output
/dist

# it is a LOCAL file only!
.env

# Coverage directory used by tools like istanbul
/coverage
/lib-cov


# Logs
/libpeerconnection.log
logs
*.log
npm-debug.log*
testem.log

# Runtime data
/connect.lock
pids
*.pid
*.seed
/tmp
/.sass-cache

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Optional REPL history
.node_repl_history

# =========================================
